/.AssociationHierarchyBuilder.java._trace
/.AssociationHierarchyBuilder.xtendbin
/.AssociationHierarchyNodeLocationProvider.java._trace
/.AssociationHierarchyNodeLocationProvider.xtendbin
/.AssociationHierarchyViewPart.java._trace
/.AssociationHierarchyViewPart.xtendbin
/.OpenAssociationHierarchyHandler.java._trace
/.OpenAssociationHierarchyHandler.xtendbin
/AssociationHierarchyBuilder.java
/AssociationHierarchyNodeLocationProvider.java
/AssociationHierarchyViewPart.java
/OpenAssociationHierarchyHandler.java
